ADF-pynkyz/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADF-pynkyz"
		},
		"lnk_Learn_SQLDB_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'lnk_Learn_SQLDB'"
		},
		"lnk_OnPrem__password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'lnk_OnPrem_'"
		},
		"lnk_SQLDB_HRDB_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'lnk_SQLDB_HRDB'"
		},
		"lnk_SalesDB_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'lnk_SalesDB'"
		},
		"lnk_Source_adf_DB_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'lnk_Source_adf_DB'"
		},
		"lnk_Target_adf_DB_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'lnk_Target_adf_DB'"
		},
		"lnk_blobstrg_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'lnk_blobstrg'"
		},
		"lnk_pinkzsql_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'lnk_pinkzsql'"
		},
		"lnk_pynkyzstrgacct_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'lnk_pynkyzstrgacct'"
		},
		"link_pynkyzstrgacct_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://pynkyzstrgacct.blob.core.windows.net/"
		},
		"lnk_Learn_SQLDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-DB89R7L\\SQLEXPRESS"
		},
		"lnk_Learn_SQLDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "Learn_SQLDB"
		},
		"lnk_Learn_SQLDB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "DESKTOPDB89R7LSQLA"
		},
		"lnk_ODataResource_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://services.odata.org/TripPinRESTierService/"
		},
		"lnk_OnPrem__properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-DB89R7L\\SQLEXPRESS"
		},
		"lnk_OnPrem__properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "HR_db"
		},
		"lnk_OnPrem__properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "DESKTOPDB89R7LSQLA"
		},
		"lnk_SQLDB_HRDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "pinkzsql.database.windows.net"
		},
		"lnk_SQLDB_HRDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "HR_DB"
		},
		"lnk_SQLDB_HRDB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "pinkz"
		},
		"lnk_SalesDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "pinkzsql.database.windows.net"
		},
		"lnk_SalesDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "SalesDB"
		},
		"lnk_SalesDB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "pinkz"
		},
		"lnk_Source_adf_DB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "pinkz.database.windows.net"
		},
		"lnk_Source_adf_DB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "Source-adf-DB"
		},
		"lnk_Source_adf_DB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "pinkz"
		},
		"lnk_Target_adf_DB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "pinkz.database.windows.net"
		},
		"lnk_Target_adf_DB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "Target-adf-DB"
		},
		"lnk_Target_adf_DB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "pinkz"
		},
		"lnk_pinkzsql_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "pinkzsql.database.windows.net"
		},
		"lnk_pinkzsql_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "Source_DB"
		},
		"lnk_pinkzsql_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "pinkz"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_CreateCSV_fromOnPremDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup ListOfTableNames",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "Select name from sys.tables",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_ListofTables",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Loop thru all tableNames from Learn_SQLDB",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup ListOfTableNames",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup ListOfTableNames').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data from onprem SQL DB to Blob",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_Employee_Dept",
											"type": "DatasetReference",
											"parameters": {
												"P_tablename": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_snk_CSVfiles",
											"type": "DatasetReference",
											"parameters": {
												"p_FileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_ListofTables')]",
				"[concat(variables('factoryId'), '/datasets/ds_Employee_Dept')]",
				"[concat(variables('factoryId'), '/datasets/ds_snk_CSVfiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ExecuteSQLstmts_inBlob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup sqlstmts file",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_sqlstmts_sqlfiles",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_loop thru all sqlstmts",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup sqlstmts file",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup sqlstmts file').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Lookup_ExecuteSQLstmts",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat(item().SQLStatements,' Select 1 as output')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ds_SalesDB",
											"type": "DatasetReference",
											"parameters": {}
										},
										"firstRowOnly": false
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_sqlstmts_sqlfiles')]",
				"[concat(variables('factoryId'), '/datasets/ds_SalesDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ExecuteStoredProc_UsingSToredProcActivity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spUpdate]",
							"storedProcedureParameters": {
								"City": {
									"value": "Ahmedabad",
									"type": "String"
								},
								"id": {
									"value": "7",
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "lnk_SalesDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_SalesDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_LoopthruMultiple storedProcs_CreateFiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup tbl_SPList",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "Select 'EXEC '+sp_Name+' '''+param_value+'''' as sqlstmt,\nFileName+'_'+ CAST(CAST(getdate() as date) as varchar) as FileName_wdate\nfrom tbl_SPList\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_SalesDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "LoopThruStoredProcs",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup tbl_SPList",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup tbl_SPList').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data from azSql to Blbstrg",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@item().sqlstmt",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_SalesDB",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds__blob_SalesDBFiles",
											"type": "DatasetReference",
											"parameters": {
												"p_FileName": {
													"value": "@item().FileName_wdate",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_SalesDB')]",
				"[concat(variables('factoryId'), '/datasets/ds__blob_SalesDBFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Onprem_toAzSQLDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_HRDB",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "Select name from sys.tables",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_OnPremHRDB",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_Loopthuralltables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_HRDB",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_HRDB').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data from OnPrem to AzSQLDB",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "Select * from @item().name",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_OnPremListofTables",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_SQLDB_pinkyz",
											"type": "DatasetReference",
											"parameters": {
												"param_tblname": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_OnPremHRDB')]",
				"[concat(variables('factoryId'), '/datasets/ds_OnPremListofTables')]",
				"[concat(variables('factoryId'), '/datasets/ds_SQLDB_pinkyz')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_PreventEmptyFileCreation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupLearn_SQLDB",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "Select name from sys.tables",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_tbl_Orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If Condition2",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LookupLearn_SQLDB",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@contains(activity('LookupLearn_SQLDB').output,'firstrow')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_learnsqlDB",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_snk_tblOrders",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_tbl_Orders')]",
				"[concat(variables('factoryId'), '/datasets/ds_learnsqlDB')]",
				"[concat(variables('factoryId'), '/datasets/ds_snk_tblOrders')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Employee_Dept')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_Learn_SQLDB",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"P_tablename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().P_tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_Learn_SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_LearnSQLDB_ListofTables')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_Learn_SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_Learn_SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ListofTables')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_Learn_SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_Learn_SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_OnPremHRDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_OnPrem_",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_OnPrem_')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_OnPremListofTables')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_OnPrem_",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_OnPrem_')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SQLDB_pinkyz')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_SQLDB_HRDB",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"param_tblname": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().param_tblname",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_SQLDB_HRDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SalesDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_SalesDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_SalesDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds__blob_SalesDBFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "link_pynkyzstrgacct",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().p_FileName",
							"type": "Expression"
						},
						"container": "output-files"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/link_pynkyzstrgacct')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_cpy_src_learnsqldb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_Learn_SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_Learn_SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_learnsqlDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_Learn_SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "tbl_Orders"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_Learn_SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_snk_CSVfiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "link_pynkyzstrgacct",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().p_FileName",
							"type": "Expression"
						},
						"container": "output-files"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/link_pynkyzstrgacct')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_snk_tblOrders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "link_pynkyzstrgacct",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "output-files"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/link_pynkyzstrgacct')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sqlstmts_sqlfiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "link_pynkyzstrgacct",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sqlstmts.txt",
						"container": "sql-files"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/link_pynkyzstrgacct')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tbl_Orders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_Learn_SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_Learn_SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/foreach_lkp_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_Learn_SQLDB",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"for_p_tblname": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().for_p_tblname",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_Learn_SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/snk_ds_Files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "link_pynkyzstrgacct",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().p_FileName",
							"type": "Expression"
						},
						"container": "output-files"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/link_pynkyzstrgacct')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_ds_LearnSQLDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lnk_Learn_SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lnk_Learn_SQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/link_pynkyzstrgacct')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('link_pynkyzstrgacct_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lnk_Learn_SQLDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('lnk_Learn_SQLDB_properties_typeProperties_server')]",
					"database": "[parameters('lnk_Learn_SQLDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('lnk_Learn_SQLDB_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('lnk_Learn_SQLDB_password')]"
					}
				},
				"connectVia": {
					"referenceName": "ADFSelfHostedIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ADFSelfHostedIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/lnk_ODataResource')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "OData",
				"typeProperties": {
					"url": "[parameters('lnk_ODataResource_properties_typeProperties_url')]",
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lnk_OnPrem_')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('lnk_OnPrem__properties_typeProperties_server')]",
					"database": "[parameters('lnk_OnPrem__properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('lnk_OnPrem__properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('lnk_OnPrem__password')]"
					}
				},
				"connectVia": {
					"referenceName": "ADFSelfHostedIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/ADFSelfHostedIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/lnk_SQLDB_HRDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('lnk_SQLDB_HRDB_properties_typeProperties_server')]",
					"database": "[parameters('lnk_SQLDB_HRDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('lnk_SQLDB_HRDB_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('lnk_SQLDB_HRDB_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lnk_SalesDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('lnk_SalesDB_properties_typeProperties_server')]",
					"database": "[parameters('lnk_SalesDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('lnk_SalesDB_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('lnk_SalesDB_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lnk_Source_adf_DB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('lnk_Source_adf_DB_properties_typeProperties_server')]",
					"database": "[parameters('lnk_Source_adf_DB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('lnk_Source_adf_DB_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('lnk_Source_adf_DB_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lnk_Target_adf_DB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('lnk_Target_adf_DB_properties_typeProperties_server')]",
					"database": "[parameters('lnk_Target_adf_DB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('lnk_Target_adf_DB_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('lnk_Target_adf_DB_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lnk_blobstrg')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('lnk_blobstrg_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lnk_pinkzsql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('lnk_pinkzsql_properties_typeProperties_server')]",
					"database": "[parameters('lnk_pinkzsql_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('lnk_pinkzsql_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('lnk_pinkzsql_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lnk_pynkyzstrgacct')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('lnk_pynkyzstrgacct_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADFSelfHostedIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}