pipeline/pl_CheckFileExists_orNot_SendEmail.json
{
	"name": "pl_CheckFileExists_orNot_SendEmail",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata HR_Dept",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_HRDept",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata HR_Dept",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata HR_Dept').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "WebActivity_SendEmail_FileDetails",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": "https://prod-59.eastus2.logic.azure.com:443/workflows/fedc1c299e7c4d2b8f50491eead1e7a4/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=hniTjBS6kUlKr2Kz9WIuuJHAGzbRHUJMwBk5C5iWXiY",
								"body": {
									"value": "{\n   \n   \"Pipeline Name\":\"@{pipeline().Pipeline}\",\n   \"DataFactoryName\":\"@{pipeline().DataFactory}\",\n   \"FileExists\":\"@{activity('Get Metadata HR_Dept').output.exists}\"\n}",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https:/storage.azure.com/"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}