pipeline/pl_ReadFileFromStorage.json
{
	"name": "pl_ReadFileFromStorage",
	"properties": {
		"activities": [
			{
				"name": "WebActivity_Read_Blob_StorageFile",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"x-ms-version": "2017-11-09",
						"x-ms-blob-type": "BlockBlob"
					},
					"url": "https://pynkyzstrgacct.blob.core.windows.net/input-files/HR_Dept.txt",
					"authentication": {
						"type": "MSI",
						"resource": "https://storage.azure.com/"
					}
				}
			},
			{
				"name": "Set variable Save contents of HR_Dept",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WebActivity_Read_Blob_StorageFile",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileContent",
					"value": {
						"value": "@activity('WebActivity_Read_Blob_StorageFile').output.response",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"FileContent": {
				"type": "String"
			}
		},
		"annotations": []
	}
}