pipeline/pl_Send File as attachment.json
{
	"name": "pl_Send File as attachment",
	"properties": {
		"activities": [
			{
				"name": "Get Metadatafrom input-files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_input_files",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "loop thru all files input-files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadatafrom input-files",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadatafrom input-files').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileFullPath",
								"value": {
									"value": "@concat('/input-files/',item().Name)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Web send email with File contents",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Set variable",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": "https://prod-40.eastus2.logic.azure.com:443/workflows/c07cf5a57cdf4681aaeff9ea6bcb46e2/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=Y0NbMPlIRPpNWoWyVrx58-cLkvNymdhpkJFm30_YXj4",
								"body": {
									"value": "{\n\"FileFullPath\":\"@{variables('FileFullPath')}\",\n  \"PipelineName\":\"@{pipeline().Pipeline}\",\n  \"DataFactory Name\":\"@{pipeline().DataFactory}\",\n  \"FileName\":\"@{activity('Get Metadatafrom input-files').output.itemName}\"\n  \n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"FileFullPath": {
				"type": "String"
			},
			"FolderName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}