pipeline/pl_WebActivityOutput_ToBlob.json
{
	"name": "pl_WebActivityOutput_ToBlob",
	"properties": {
		"activities": [
			{
				"name": "Web_Dummyjson",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://dummyjson.com/products"
				}
			},
			{
				"name": "Set variable DummyjsonProducts",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web_Dummyjson",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_products",
					"value": {
						"value": "@{activity('Web_Dummyjson').output}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"var_products": {
				"type": "String"
			}
		},
		"annotations": []
	}
}