pipeline/pl_WebActivityOutput_ToBlob.json
{
	"name": "pl_WebActivityOutput_ToBlob",
	"properties": {
		"activities": [
			{
				"name": "Web_Dummyjson",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://dummyjson.com/products"
				}
			},
			{
				"name": "Set variable DummyjsonProducts",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web_Dummyjson",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_products",
					"value": {
						"value": "@{activity('Web_Dummyjson').output}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data from web to blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable DummyjsonProducts",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": {
							"type": "Expression",
							"value": "@variables('var_products')"
						},
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_web_to_blob",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_web_to_outputBlob",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"var_products": {
				"type": "String"
			}
		},
		"annotations": []
	}
}